%kubik-form-fieldset {
  border: 0;
  padding: 0;
  margin: .9rem 1.75rem;
  min-width: 0;
  background: white;
  body:not(:-moz-handler-blocked) & {
    display: table-cell;
  }
}

%kubik-form-label {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  color: var(--kubik-interface-color-brand-400);
  font-weight: 700;
  abbr {
    text-decoration: none;
  }
}

%kubik-form-hint {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 400;
  margin-top: .15rem;
  margin-bottom: .15rem;
  color: var(--kubik-interface-color-grey-400);
}

%kubik-form-error-message {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 400;
  margin-top: .15rem;
  margin-bottom: .15rem;
  color: var(--kubik-interface-color-alert);
}

%kubik-form-input-base {
  padding: .85rem .65rem;
  border: 1px solid transparent;
  border-radius: .2rem;
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 600;
  outline-color: var(--kubik-interface-color-brand-400);
  background-color: var(--kubik-interface-color-grey-100);
}

%kubik-form-input-text {
  @extend %kubik-form-input-base;
  width: 100%;
}

%kubik-form-input-textarea {
  @extend %kubik-form-input-base;
  width: 100%;
  height: 8rem;
  resize: none;
}

%kubik-form-input-select {
  @extend %kubik-form-input-base;
  width: 100%;
  border-right: 1rem solid transparent;
}


%kubik-form-wrapper-checkbox {
  @extend %kubik-form-input-base;
  padding-bottom: .6rem;
  display: flex;
  flex-direction: row;
  max-width: 21rem;
  align-items: initial;
  margin-bottom: .3rem;
}

%kubik-form-input-checkbox {
  margin: 0;
  margin-right: .3rem;
  &:checked {
    accent-color: var(--kubik-interface-color-brand-400);
  }
}

%kubik-form-input-checkbox--white {
  @extend %kubik-form-input-checkbox;
  background: white;
}
