@mixin kubik-link {
  @include kubik-typography-link;

  position: relative;
  color: var(--kubik-interface-color-brand-400);
  text-decoration: none;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--kubik-interface-color-brand-400);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  &:hover {
    color: var(--kubik-interface-color-brand-400);
    text-decoration: none;

    &:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

@mixin kubik-link-nav {
  box-sizing: border-box;
  height: var(--kubik-interface-space-700);
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-base-font-size);
  font-weight: 400;
  color: white;
  text-decoration: none;

  transition: .2s;

  &:hover {
    color: var(--kubik-interface-color-white);
    background: var(--kubik-interface-color-grey-700);
  }
}

@mixin kubik-link-nav--active {
  @include kubik-link-nav;
  color: var(--kubik-interface-color-brand-400);
  background: var(--kubik-interface-color-grey-700);
}

@mixin kubik-link-user {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 700;
  color: var(--kubik-interface-color-brand-400);
}

@mixin kubik-link-sign-out {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 400;
  color: var(--kubik-interface-color-grey-400);
}

@mixin kubik-link-tab {
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 400;
  color: var(--kubik-interface-color-brand-500);

  &.active {
    color: var(--kubik-interface-color-white);
  }
}

@mixin kubik-link-table {
  color: var(--kubik-interface-color-brand-400);
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 700;

  &:before {
    display: none;
  }

  &:hover {
    text-decoration: underline;
    background: inherit;
  }
}

@mixin kubik-link-title {
  color: var(--kubik-interface-color-brand-400);
  font-family: var(--kubik-interface-base-font-family);
  font-size: var(--kubik-interface-base-font-size);
  font-weight: 700;

  &:before {
    display: none;
  }

  &:hover {
    text-decoration: underline;
    background: inherit;
  }
}

