@mixin kubik-table-header-cell {
  position: relative;
  padding: var(--kubik-interface-space-300) var(--kubik-interface-space-100);
  background: var(--kubik-interface-color-grey-100);
  color: var(--kubik-interface-color-grey-500);
  font-size: var(--kubik-interface-font-size-small);
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
}

@mixin kubik-table-cell {
  padding: var(--kubik-interface-space-300) var(--kubik-interface-space-200);
  background: var(--kubik-interface-color-white);
  border-bottom: 1px solid var(--kubik-interface-color-grey-200);
  color: var(--kubik-interface-color-grey-700);
  font-weight: 600;
}

@mixin panel_table {
  content: 'test';
  min-width: calc(50% - 1.3rem);
  list-style-type: none;
  padding: 0; margin: 0;
  cursor: default;
}

@mixin panel_table_row {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  padding: 1.25rem;
  border: 1px solid #E6E6E6;
  margin: -1px 0 0 -1px;
  background: #ffffff;
}

@mixin panel_table_header {
  @include kubik-label;
  text-align: left;
}

@mixin panel_table_cell {
  @include kubik-value;
  height: auto;
}
